<a href="https://colab.research.google.com/github/gaitang/data_science/blob/master/Copy_of_Python_Programming_Lists.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<font color="green">*To start working on this notebook, or any other notebook that we will use in the Moringa Data Science Course, we will need to save our own copy of it. We can do this by clicking File > Save a Copy in Drive. We will then be able to make edits to our own copy of this notebook.*</font>

# Python Programming: Lists

## 1.0 Creating a List

In [1]:
# Example 1
# Lists can be created by placing a sequence inside square brackets.
# They are ordered and changeable and can also contain duplicate items.
# We will start to create a list called fruits
#
fruits = ["bananas", "grapes", "mangoes"]
print(fruits)

# In python, elements in a list are referenced using indices. Indices (singular: index) are number used to tell the position of an elment in a list. The first element in  a list is assigned an index of 0. 
# For example in the list we created, bananas is at index 0 and mangoes is at index 2. 
# Indices are very important especially when we want to update, delete or access items in a list.

['bananas', 'grapes', 'mangoes']

In [2]:
# Example 2
# We will also create a list called kenyan_football_players
#
kenyan_football_players = ["Victor Wanyama", "Michael Olunga", "McDonald Mariga"]
print(kenyan_football_players)

['Victor Wanyama', 'Michael Olunga', 'McDonald Mariga']

In [3]:
# Example 3
# And lastly, create a list called kenyan cities
#
kenyan_cities = ["Nairobi", "Mombasa", "Kisumu"]
print(kenyan_cities)

['Nairobi', 'Mombasa', 'Kisumu']

### <font color="green">1.1 Challenges</font>

In [4]:
# Challenge 1: 
# Let's create a list of 3 counties in Kenya and then print out the list below;
# 
counties = ["Tharaka Nithi", "Nairobi", "Machakos"]
print(counties)

['Tharaka Nithi', 'Nairobi', 'Machakos']

In [6]:
# Challenge 2: 
# Create a list of 5 African presidents and print out the list below;
# 
presidents = ["Kagame", "Uhuru", "Ramaphosa", "Samia", "Zewde"]
print(presidents)

['Kagame', 'Uhuru', 'Ramaphosa', 'Samia', 'Zewde']

In [8]:
# Challenge 3: 
# Create a list of 5 members of your moringa class and print out the list;
#
classmates = ["Joan", "Kipsang", "Faith", "Nigel", "Hirani"]
print(classmates)

['Joan', 'Kipsang', 'Faith', 'Nigel', 'Hirani']

## 1.2 Adding Elements to a List

In [9]:
# Example 1
# We use the append() item to add an element to a list as shown below:
# Adding the city Nakuru to the kenyan_cities list 
#
kenyan_cities.append("Nakuru")
print(kenyan_cities)

['Nairobi', 'Mombasa', 'Kisumu', 'Nakuru']

In [12]:
# Example 2
# We add the county Turkana to our counties list 
# and print out the list as shown below;
#
counties.append("Turkana")
print(counties)

['Tharaka Nithi', 'Nairobi', 'Machakos', 'Turkana', 'Turkana', 'Turkana']

In [13]:
# Example 3
# Let's add the footballer Francis Kahata to the 
# kenyan_football_players list defined above and print out the list
#
kenyan_football_players.append("Francis kahata")
print(kenyan_football_players)

['Victor Wanyama', 'Michael Olunga', 'McDonald Mariga', 'Francis kahata']

### <font color="green">1.2 Challenges</font>

In [15]:
# Challenge 1: Add a third county to the county list 
# that you defined above and then print out the list.
# 
counties.append("Imenti South")
print(counties)

['Tharaka Nithi', 'Nairobi', 'Machakos', 'Turkana', 'Turkana', 'Turkana', 'Imenti South']

In [18]:
# Challenge 2: 
# Add a fifth and a sixth president to the african presidents 
# you defined above and print out the list.
#
presidents.append("Buhari")
presidents.append("Mayardit")
print(presidents)

['Kagame', 'Uhuru', 'Ramaphosa', 'Samia', 'Zewde', 'Buhari', 'Mayardit']

In [19]:
# Challenge 3: 
# Add two more members to the moringa class list that 
# you defined above and print out the list.
#
classmates.append("Maureen")
classmates.append("Joyline")
print(classmates)

['Joan', 'Kipsang', 'Faith', 'Nigel', 'Hirani', 'Maureen', 'Joyline']

## 1.3 Updating Elements in a List

In [20]:
# Example 1
# The value of a specific item in a list can be changed by referring to the index number as shown;
# Let's update the first element in the kenyan_cities list then print it out
# 
kenyan_cities[1] = "Kwale"
print(kenyan_cities)

['Nairobi', 'Kwale', 'Kisumu', 'Nakuru']

In [21]:
# Example 2
# Let's update the second element in the kenyan_football_players 
# list with Musa Mohammed then print out the list
kenyan_football_players[2] = "Musa Mohammed"
print(kenyan_football_players)

['Victor Wanyama', 'Michael Olunga', 'Musa Mohammed', 'Francis kahata']

In [22]:
# Example 3
# Let's update the third element in the moringa 
# class list with your name then print out the list
# 
classmates[3] = "Marvin"
print(classmates)

['Joan', 'Kipsang', 'Faith', 'Marvin', 'Hirani', 'Maureen', 'Joyline']

### <font color="green">1.3 Challenges</font>

In [30]:
# Challenge 1
# Update the second county to the county list that 
# you defined above and then print out the list.
# (NB: Update of choice)
#
counties[1] = "Meru"
print(counties)

['Tharaka Nithi', 'Meru', 'Machakos', 'Turkana', 'Imenti South']

In [31]:
# Challenge 2
# Update the third and fourth president of the african presidents 
# list that you defined above and then print out the list.
# (NB: Update of choice) 
#
presidents[2] = "Al-Bashir"
presidents[3] = "Museveni"
print(presidents)

['Kagame', 'Uhuru', 'Al-Bashir', 'Museveni', 'Zewde', 'Buhari', 'Mayardit']

In [32]:
# Challenge 3
# Update all items in your class list 
# that you defined above with a new list and then print out that list. 
# 
classmates[0] = "caleb"
classmates[1] = "victoria"
classmates[3] = "Angelo"
classmates[4] = "Cindy"
classmates[5] = "Christine"
classmates[6] = "claire"
print(classmates)

['caleb', 'victoria', 'Faith', 'Angelo', 'Cindy', 'Christine', 'claire']

## 1.4 Accessing Elements from a List

In [34]:
# Example 1
# We can access the first item in the fruits list by doing the following
# 
fruits_first_item = fruits[0]
print(fruits_first_item)

bananas

In [35]:
# Example 2
# We can also access the 2nd item in the kenyan_football_players list by;
#
kenyan_football_players_second_item = kenyan_football_players[1]
print(kenyan_football_players_second_item)

Michael Olunga

In [36]:
# Example 3
# We can access the third item in the moringa_class list also by
#
kenya_football_players_third_item = kenyan_football_players[2]
print(kenya_football_players_third_item)

Musa Mohammed

### <font color="green">1.4 Challenges</font>

In [38]:
# Challenge 1
# Let's access the second item in the fruits list below
#
fruits2 = fruits[1]
print(fruits2)

grapes

In [39]:
# Challenge 2
# Let's access the fourth item in kenyan_football_players list below
#
kenyan_football_players_fourth_item = kenyan_football_players[3]
print(kenyan_football_players_fourth_item)

Francis kahata

In [40]:
# Challenge 3
# Let's access the first item in your class list below;
#
classmate1 = classmates[0]
print(classmate1)

caleb

## 1.5 Removing Elements from a List

In [41]:
# Example 1
# Let's remove the first item from the fruits list as shown;
#
fruits.remove("bananas")
print(fruits)

['grapes', 'mangoes']

In [42]:
# Example 2
# Then remove the third item from the kenyan cities list as shown;
#
del kenyan_cities[2];
print(kenyan_cities)

['Nairobi', 'Kwale', 'Nakuru']

In [43]:
# Example 3
# Let's remove the fourth item from counties list as shown;
#
del counties[3];
print(counties)

['Tharaka Nithi', 'Meru', 'Machakos', 'Imenti South']

### <font color="green">1.5 Challenges</font>

In [44]:
# Challenge 1 
# Remove the first item from the kenya_football_players list 
# and print the list
#
del kenyan_football_players[0]
print(kenyan_football_players)

['Michael Olunga', 'Musa Mohammed', 'Francis kahata']

In [45]:
# Challenge 2
# Remove the second item from the fruits list and print the list
#
del fruits[1]
print(fruits)

['grapes']

In [46]:
# Challenge 3 
# Remove the last item from the african presidents list and print the list
#
del presidents[6]
print(presidents)

['Kagame', 'Uhuru', 'Al-Bashir', 'Museveni', 'Zewde', 'Buhari']

## 1.6 Slicing a List

In [47]:
# Example 1
# We can print the first two item of the fruits list by slicing and printing them as shown;
# The syntax for slicing is start:stop
# Start is the index at which we want to start our slice.
# Stop is the index at which we want to stop just before finishing the slice. The slicing stops at index stop-1. For exampl, if stop is 2, then the slicing will stop at index (2-1)
# 
fruits = ["bananas", "grapes", "mangoes","oranges","pineapple"]
fruits1 = fruits[0:3] 
print(fruits1)

['bananas', 'grapes', 'mangoes']

In [48]:
# Example 2
# We can print the items from the 2nd item till the end by slicing and printing them as shown;
# 
fruits2 = fruits[2:]
print(fruits2)

['mangoes', 'oranges', 'pineapple']

In [49]:
# Example 3
# We can print items from beginning of the list to the third element in the fruits list as shown;
#
fruits3 = fruits[:-2]
print(fruits3)

['bananas', 'grapes', 'mangoes']

### <font color="green">1.6 Challenges</font>

In [50]:
# Challenge 1 
# Print the first two items of the kenyan_football_players list
# 
players2 = kenyan_football_players[0:2]
print(players2)

['Michael Olunga', 'Musa Mohammed']

In [51]:
# Challenge 2 
# Print the last two items of the counties list
# 
counties_last2 = counties[2:]
print(counties_last2)

['Machakos', 'Imenti South']

In [53]:
# Challenge 3 
# Print items fron the beginning to the second items in the kenyan_cities list
# 
cities2 = kenyan_cities[0:2]
print(cities2)

['Nairobi', 'Kwale']