<a href="https://colab.research.google.com/github/gaitang/data_science/blob/master/Copy_of_Moringa_Data_Science_Prep_W2_Independent_Project_2019_06_Marvin_Mwenda_SQL_Notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# We will first load the sql extension into our environment
%load_ext sql

# Then connect to our in memory sqlite database
# NB: This database will cease to exist as soon as the database connection is closed. 
%sql sqlite://

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

'Connected: @None'

In [ ]:
import pandas as pd

In [ ]:
#loading our datasets
#I renamed the datasets to make the easier to use
with open('Grandelectors.csv','r') as f:
    Grandelectors = pd.read_csv(f, index_col=0, encoding='utf-8')
%sql DROP TABLE if EXISTS Grandelectors;
%sql PERSIST Grandelectors;

 * sqlite://
Done.
 * sqlite://

'Persisted grandelectors'

In [ ]:
with open('Population.csv','r') as f:
    Population = pd.read_csv(f, index_col=0, encoding='utf-8')
%sql DROP TABLE if EXISTS Population;
%sql PERSIST Population;

 * sqlite://
Done.
 * sqlite://

'Persisted population'

In [ ]:
%%sql
UPDATE Grandelectors SET State = UPPER(State)

 * sqlite://
51 rows affected.

[]

In [ ]:
%%sql
SELECT * FROM Grandelectors LIMIT 5;

 * sqlite://
Done.

[('ALABAMA', 9),
 ('ALASKA', 3),
 ('ARIZONA', 11),
 ('ARKANSAS', 6),
 ('CALIFORNIA', 55)]

In [ ]:
%%sql
CREATE TABLE Joined (State varchar(100), Grandelectors float, Population float);
INSERT INTO Joined(State, Grandelectors, Population)
SELECT Grandelectors.State, Grandelectors.Grandelectors, Population.Population
FROM Grandelectors INNER JOIN Population
     ON Grandelectors.state = Population.state

 * sqlite://
Done.
51 rows affected.

[]

In [ ]:
%%sql
UPDATE Joined
SET State = "DC"
WHERE State = "DISTRICT OF COLUMBIA"

 * sqlite://
1 rows affected.

[]

In [ ]:
%%sql
ALTER TABLE Joined
ADD Ratio float(100);

 * sqlite://
Done.

[]

In [ ]:
%%sql
SELECT * FROM Joined

 * sqlite://
Done.

[('ALABAMA', 9.0, 4858979.0, None),
 ('ALASKA', 3.0, 738432.0, None),
 ('ARIZONA', 11.0, 6828065.0, None),
 ('ARKANSAS', 6.0, 2978204.0, None),
 ('CALIFORNIA', 55.0, 39144818.0, None),
 ('COLORADO', 9.0, 5456574.0, None),
 ('CONNECTICUT', 7.0, 3590886.0, None),
 ('DC', 3.0, 672228.0, None),
 ('DELAWARE', 3.0, 945934.0, None),
 ('FLORIDA', 29.0, 20271272.0, None),
 ('GEORGIA', 16.0, 10214860.0, None),
 ('HAWAII', 4.0, 1431603.0, None),
 ('IDAHO', 4.0, 1654930.0, None),
 ('ILLINOIS', 20.0, 12859995.0, None),
 ('INDIANA', 11.0, 6619680.0, None),
 ('IOWA', 6.0, 3123899.0, None),
 ('KANSAS', 6.0, 2911641.0, None),
 ('KENTUCKY', 8.0, 4425092.0, None),
 ('LOUISIANA', 8.0, 4670724.0, None),
 ('MAINE', 4.0, 1329328.0, None),
 ('MARYLAND', 10.0, 6006401.0, None),
 ('MASSACHUSETTS', 11.0, 6794422.0, None),
 ('MICHIGAN', 16.0, 9922576.0, None),
 ('MINNESOTA', 10.0, 5489594.0, None),
 ('MISSISSIPPI', 6.0, 2992333.0, None),
 ('MISSOURI', 10.0, 6083672.0, None),
 ('MONTANA', 3.0, 1032949.0, None),
 ('NEBRASKA', 5.0, 1896190.0, None),
 ('NEVADA', 6.0, 2890845.0, None),
 ('NEW HAMPSHIRE', 4.0, 1330608.0, None),
 ('NEW JERSEY', 14.0, 8958013.0, None),
 ('NEW MEXICO', 5.0, 2085109.0, None),
 ('NEW YORK', 29.0, 19795791.0, None),
 ('NORTH CAROLINA', 15.0, 10042802.0, None),
 ('NORTH DAKOTA', 3.0, 756927.0, None),
 ('OHIO', 18.0, 11613423.0, None),
 ('OKLAHOMA', 7.0, 3911338.0, None),
 ('OREGON', 7.0, 4028977.0, None),
 ('PENNSYLVANIA', 20.0, 12802503.0, None),
 ('RHODE ISLAND', 4.0, 1056298.0, None),
 ('SOUTH CAROLINA', 9.0, 4896146.0, None),
 ('SOUTH DAKOTA', 3.0, 858469.0, None),
 ('TENNESSEE', 11.0, 6600299.0, None),
 ('TEXAS', 38.0, 27469114.0, None),
 ('UTAH', 6.0, 2995919.0, None),
 ('VERMONT', 3.0, 626042.0, None),
 ('VIRGINIA', 13.0, 8382993.0, None),
 ('WASHINGTON', 12.0, 7170351.0, None),
 ('WEST VIRGINIA', 5.0, 1844128.0, None),
 ('WISCONSIN', 10.0, 5771337.0, None),
 ('WYOMING', 3.0, 586107.0, None)]

In [ ]:
# To fill in the column of ratios
%%sql
UPDATE Joined SET ratio = Grandelectors/Population;

 * sqlite://
51 rows affected.

[]

In [ ]:
# To order the states acording to the ratio of Grandelectors to population
%%sql
SELECT * FROM Joined
ORDER BY Ratio DESC;

 * sqlite://
Done.

[('WYOMING', 3.0, 586107.0, 5.118519314732634e-06),
 ('VERMONT', 3.0, 626042.0, 4.792010759661493e-06),
 ('DC', 3.0, 672228.0, 4.462771559649405e-06),
 ('ALASKA', 3.0, 738432.0, 4.0626625065002604e-06),
 ('NORTH DAKOTA', 3.0, 756927.0, 3.963394092164766e-06),
 ('RHODE ISLAND', 4.0, 1056298.0, 3.7868101615263876e-06),
 ('SOUTH DAKOTA', 3.0, 858469.0, 3.4945932817609025e-06),
 ('DELAWARE', 3.0, 945934.0, 3.1714686225466047e-06),
 ('MAINE', 4.0, 1329328.0, 3.009039153617467e-06),
 ('NEW HAMPSHIRE', 4.0, 1330608.0, 3.0061445594795764e-06),
 ('MONTANA', 3.0, 1032949.0, 2.904306020916812e-06),
 ('HAWAII', 4.0, 1431603.0, 2.794070702562093e-06),
 ('WEST VIRGINIA', 5.0, 1844128.0, 2.7113085425740512e-06),
 ('NEBRASKA', 5.0, 1896190.0, 2.636866558730929e-06),
 ('IDAHO', 4.0, 1654930.0, 2.417020659484087e-06),
 ('NEW MEXICO', 5.0, 2085109.0, 2.3979561739937817e-06),
 ('NEVADA', 6.0, 2890845.0, 2.0755177119492743e-06),
 ('KANSAS', 6.0, 2911641.0, 2.0606936088618066e-06),
 ('ARKANSAS', 6.0, 2978204.0, 2.0146370094190997e-06),
 ('MISSISSIPPI', 6.0, 2992333.0, 2.00512442966742e-06),
 ('UTAH', 6.0, 2995919.0, 2.0027243727216926e-06),
 ('CONNECTICUT', 7.0, 3590886.0, 1.949379623858847e-06),
 ('IOWA', 6.0, 3123899.0, 1.9206766928124116e-06),
 ('ALABAMA', 9.0, 4858979.0, 1.8522409749043987e-06),
 ('SOUTH CAROLINA', 9.0, 4896146.0, 1.8381804790951905e-06),
 ('MINNESOTA', 10.0, 5489594.0, 1.8216283389992047e-06),
 ('KENTUCKY', 8.0, 4425092.0, 1.8078720171241637e-06),
 ('OKLAHOMA', 7.0, 3911338.0, 1.7896689061390246e-06),
 ('OREGON', 7.0, 4028977.0, 1.7374137405103083e-06),
 ('WISCONSIN', 10.0, 5771337.0, 1.7327007589402595e-06),
 ('LOUISIANA', 8.0, 4670724.0, 1.712796560019389e-06),
 ('WASHINGTON', 12.0, 7170351.0, 1.673558240035948e-06),
 ('TENNESSEE', 11.0, 6600299.0, 1.6665911650366142e-06),
 ('MARYLAND', 10.0, 6006401.0, 1.6648905059785385e-06),
 ('INDIANA', 11.0, 6619680.0, 1.6617117443743504e-06),
 ('COLORADO', 9.0, 5456574.0, 1.6493865931260165e-06),
 ('MISSOURI', 10.0, 6083672.0, 1.6437441071773757e-06),
 ('MASSACHUSETTS', 11.0, 6794422.0, 1.6189750945702225e-06),
 ('MICHIGAN', 16.0, 9922576.0, 1.6124844999927438e-06),
 ('ARIZONA', 11.0, 6828065.0, 1.610998137832607e-06),
 ('GEORGIA', 16.0, 10214860.0, 1.566345500574653e-06),
 ('NEW JERSEY', 14.0, 8958013.0, 1.562846582160575e-06),
 ('PENNSYLVANIA', 20.0, 12802503.0, 1.562194517743913e-06),
 ('ILLINOIS', 20.0, 12859995.0, 1.5552105580134362e-06),
 ('VIRGINIA', 13.0, 8382993.0, 1.5507587803067473e-06),
 ('OHIO', 18.0, 11613423.0, 1.5499306276883225e-06),
 ('NORTH CAROLINA', 15.0, 10042802.0, 1.4936070630487388e-06),
 ('NEW YORK', 29.0, 19795791.0, 1.4649578791774474e-06),
 ('FLORIDA', 29.0, 20271272.0, 1.4305959685213637e-06),
 ('CALIFORNIA', 55.0, 39144818.0, 1.4050391037710278e-06),
 ('TEXAS', 38.0, 27469114.0, 1.3833718845099992e-06)]

In [ ]:
#To find running sum of Grand electors
%%sql
SELECT State, Grandelectors, Population, Ratio, SUM(Grandelectors) OVER (PARTITION BY State, Grandelectors) AS Running_grandelectors 
FROM Joined

 * sqlite://
(sqlite3.OperationalError) near "(": syntax error
[SQL: SELECT State, Grandelectors, Population, Ratio, SUM(Grandelectors) OVER (PARTITION BY State, Grandelectors) AS Running_grandelectors
FROM Joined]
(Background on this error at: http://sqlalche.me/e/14/e3q8)

In [ ]:
#To compute half of the grand electors total
%%sql
SELECT SUM(Grandelectors)/2 FROM Joined

 * sqlite://
Done.

[(269.0,)]