<a href="https://colab.research.google.com/github/gaitang/data_science/blob/master/Moringa_Data_Science_Prep_W1_Independent_Project_2019_06_Marvin_Mwenda_SQL_Notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
%load_ext sql
%sql sqlite://

'Connected: @None'

In [2]:
import csv

In [3]:
import pandas as pd

In [5]:
# I renamed the file to Uganda to make it easier to use 
with open('Uganda.csv','r') as f:
    Uganda = pd.read_csv(f, index_col=0, encoding='utf-8')

In [6]:
%sql DROP TABLE if EXISTS Uganda;
%sql PERSIST Uganda;

 * sqlite://
Done.
 * sqlite://

'Persisted uganda'

In [9]:
%%sql
SELECT * FROM Uganda LIMIT 5;

 * sqlite://
Done.

[(263, 'KACHERI', 'KOTIDO', 17244, 1067176155, 'Y', 354.20741069999997, 1137.467019, 7023.533691, 6434.342449, 528.1242294, 2279091.779, 600723.8929),
 (264, 'KOTIDO', 'KOTIDO', 52771, 597575188, 'Y', 367.89052319999996, 1162.9966869999998, 13587.990759999999, 12455.59264, 824.7670809, 4582294.492, 959201.3825),
 (265, 'KOTIDO TOWN COUNCIL', 'KOTIDO', 27389, 23972401, 'Y', 369.3141771, 1167.005832, 1656.5318550000002, 1520.322052, 8.561643817, 561476.4874, 9991.488268000001),
 (266, 'NAKAPERIMORU', 'KOTIDO', 38775, 419111591, 'Y', 283.3245689, 852.3665784, 7087.823334000001, 6761.488901000001, 45.72171184, 1915695.928, 38971.65908),
 (267, 'PANYANGARA', 'KOTIDO', 65704, 880955930, 'Y', 373.8369255, 1283.859882, 10398.24939, 10111.198129999999, 172.6119139, 3779939.224, 221609.5114)]